*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #b1b0b090;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro {
    width: 250px;
    height: 250px;
    background-color: rgb(55, 82, 106);
    padding: 2rem 3rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 82, 106);
    list-style: none;
    width: 100%;
    height: 60px;
   
  
}

.menu li {
    display: inline-block;
    margin-right: 15px;
}

.menu a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #ffff;
}

h2{
    font-size: 25px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

label{
    font-size: 15px;
    font-weight: bold;
}