body
{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6f8;
    margin:0;
    padding:20px;
}

.cart-container{
    max-width:960px;
    margin:30px auto;
    background:rgb(55, 82, 106);
    padding:40px;
    border-radius:25px;
    box-shadow:0 4px 16px rgba(0,0,0,0.06);

}
h1{
    margin:0 0 12px
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#ffffff;
    color:#000000;
    padding:10px;
    text-align:center;
}

td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #ffffff;
}

img{
    max-width:80px;
    border-radius:6px;
}

a{
    display:inline-block;
    padding:6px 10px;
    border-radius:6px;
    text-decoration:none;
    background:#000000;
    color:#fff;
}

a:hover{
    opacity:.9;
}

.btn-finalizar{
    background:linear-gradient(180deg,#7db3de,#5e6560);
    margin-top:12px;

}
