*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans';
    font-size: 18px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #b1b0b090;
}

.header{
    width: 100%;
    height: 90px;
    background-color: rgb(55, 82, 106);
    display: flex;
    margin: 80px 0px;
    padding: 25px;
    border-radius: 3px;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;

}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 60px;
   
  
}

.menu li {
    display: inline-block;
    margin-right: 15px;
}

.menu a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #ffff;
}
.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.cart{
    width: 80px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    border-radius: 3px;
    align-items: center;
    padding: 7px 10px;
}

.fa-shopping-cart{
    color: rgb(0, 0, 0);
}

.content{
    display: flex;
    width: 70%;
    margin-bottom: 30px;

}

.linha-produtos{
    display: grid;
    margin-left: 20%;
    cursor: pointer;
    width: 60%;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 20px;

}

.corpoProduto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    border: 2px solid #2f2d2d;
    border-radius: 5px;
}

.imgProduto{
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtoMiniatura{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.titulo{
    display: flex;
    width: 100%;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

h2{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.buttonAdd{
    background-color: rgb(69, 98, 120);
    width: 90%;
    border: none;
    border-radius: 5px;
    position: relative;
    padding: 7px 15px;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
}

.buttonAdd:hover{
    background-color: #514f4f;
    transition: 0.5s;
}

.barra-lateral{
    width: 40%;
    border-radius: 5px;
    background-color: #80787863;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.topoCarrinho{
    background-color: rgb(79, 113, 102);
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    color: #ffff;
}

.item-carrinho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffff;
    border-radius: 3px;
    margin: 10px 10px;
    border-bottom: 1px soloid #141414;
}

.linha-da-imagem{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
}

.img-carrinho{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.rodape{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid #000000;
}


.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 400px;
  height: 600px;
  background-color: rgb(77, 138, 143);
  padding: 2rem 1rem;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}